* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #181818;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 400px;
  padding: 20px;
  background-color: #2f2f2f;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}
h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
}
form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
input[type="text"],
input[type="number"] {
  width: 45%;
  padding: 10px;
  background-color: #212121;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  outline: none;
  margin: 3px;
}
button {
  padding: 10px;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}
button:hover {
  background-color: #3700b3;
}
li button {
  background-color: #fd0606;
}
li button:hover {
  background-color: #f40606e7;
}
#expense-list {
  list-style-type: none;
  padding: 0;
}
#expense-list li {
  background-color: #212121;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
#total {
  text-align: right;
}
.hidden {
  display: none;
}
